.hidden {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.example{
    background-color: #efefef;
    margin-left: 20px;
    margin-right: 50px;
    padding: 10px;
    padding-bottom: 1px;
}

.highlighted {
	background-color: yellow;
}

.text-mouseover{
	border-style: solid;
}

#moving_div {
	position: fixed;
	width: 1px;
	height: 1px;
	z-index: -1;
}
.moving_line {
	z-index: -1;
}

/* Handle the question text-boxes */
.textblock {
  border-radius: 4px;
  background: rgba(237, 245, 241, 0.87);
  border: 2px solid Black;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 10px 10px;
  z-index: 1;
}

.labelblock {
  border-radius: 1px;
  background: rgba(187, 198, 188, 0.8);
  border: 2px solid Black;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 10px 10px;
  z-index: 1;
}

.textblock_pool {
	height: 200px;
}

.textblock_span {
	padding-right: 10px;
}

.subset-subj {
	background: rgba(175, 255, 141, 0.6);
	background-color: rgba(175, 255, 141, 0.6);
}

/* handle line styles*/
.connection {
	border: 20px;
    border-width: 2.5px;
	z-index: 0;
	/*display: table;*/
	border-radius: 100%;
	/*pointer-events:none;*/
	color: rgb(200, 200, 200);
	color: rgba(0, 0, 0, 0.7);
}

.shaded {
	border-color: #55f;
    stroke: #55f !important;
    stroke-width: 2;
    /*border-radius: 20px;*/
    border-width: 2px;
}

.dropdown-menu {
    position: absolute;
    z-index: 100;
}


.deleted{
    background-color:rgba(241,114,114,0.68)
}

.added{
    background-color:rgba(175, 255, 141, 0.6);
}

.annotation{
    height: 50%;
}

#submitButton{
    z-index: 5;
}

#feedback{
    width: 100%;
}

hr.hr-medium{
    border: 3px solid black;
}

body{
    margin: 10px !important;
}

/* arrows */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
