{% if do_mturk %}

<HTMLQuestion xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
<HTMLContent><![CDATA[

{% endif %}

<!-- YOUR HTML BEGINS -->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
</head>

{% if do_mturk %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
<script src="https://cdn.jsdelivr.net/gh/qiao/difflib.js/dist/difflib-browser.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.bundle.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css">
<script src="https://cdn.jsdelivr.net/gh/alex2awesome/edit-intentions@master/app/static/js/util.js"></script>

{#<link rel='stylesheet' href="{{ url_for('static', filename='css/mycss.css') }}">#}
{% else %}

<script src="{{  url_for('static', filename='js/jquery-3.5.1.js') }}" crossorigin="anonymous"></script>
<script src="{{  url_for('static', filename='js/bootstrap-v5.0.0.min.js') }}"></script>
<script src="{{  url_for('static', filename='js/d3.v5.min.js') }}"></script>
<script src="{{  url_for('static', filename='js/alertify.min.js') }}"></script>
<script src="{{  url_for('static', filename='js/difflib-browser.js') }}" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{  url_for('static', filename='css/bootstrap-v5.0.0.min.css') }}">
<link rel="stylesheet" href="{{  url_for('static', filename='css/alertify.min.css') }}" >
<script src="{{  url_for('static', filename='js/util.js') }}"></script>
<link rel='stylesheet' href="{{ url_for('static', filename='css/mycss.css') }}">

{% endif %}







<!-- jquery connections -->
<body>

    <div class="row instructions">
        <div class="col-12">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="hello_header">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#hello">
                      Hello, about us, and thank you for your help!
                    </button>
                  </h5>
                </div>
                <div id="hello" class="collapse show" aria-labelledby="hello_header" data-parent="#accordion">
                  <div class="card-body">
                    Hello! We are small research collaboration at University of Southern California, University of Illinois Urbana-Champaign and
                      University of California Los Angeles trying to build AI tools to help better understand the work journalists do.
                    <br><br>
                    Our goal in this work is to study how articles unfold over time — ultimately we'd like to build tools to help local news rooms allocate resources for breaking stories.
                      First, we need to study how seasoned editors go about editing and updating stories.
                    <br><br>
                    We are calibrating our payment scheme <b>to meet a $25 per hour wage</b>. Apologies if at first it is miscalibrated, we're not sure at
                      this moment how long the tasks will take.
                      <br><br>
                    Please take a moment to review some of the <b><u>Examples</u></b> and skim the <b><u>Instructions</u></b> in the sections below. If you've already watched the <b><u>Video</u></b> and have a good idea of the task, feel free to skip that section.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Instructions
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <i><u><b>NOTE: THIS SECTION IS OLD. The updated instructions should go here.</b></u></i>
                        <br><br>
                        You will be adding, deleting and moving sentences around in a news article to anticipate what a future version looks like.
                        <br><br>
                        * <b><u>Add a sentence</u></b> either <i>below</i> or <i>above</i> the current sentence by pressing the <span style="background-color: rgba(0,160,0,0.63)">Add &uarr;</span> or <span style="background-color: rgba(0,160,0,0.63)">Add &darr;</span> buttons. Adding a sentence means that you feel there is substantially new information, a novel viewpoint or quote, or necessary background
                        information that needs to be present.
                        <br><br>
                        * <b><u>Move a sentence</u></b> by dragging it around on the canvas. Moving a sentence,  (or what we're calling <b><i>refactoring</i></b>) means that the importance of a sentence should be either increased or decreased within the article. <b><u>Please note:</u></b> refactors are rare!
                        <br><br>
                        * <b><u>Delete a sentence</u></b> by hitting the <span style="background-color: rgba(0,160,0,0.63)">Delete</span> button. Deleting an <b>Added</b> sentence just reverses that action - we will not record this. Deleting a sentence that is present means you feel it needs to be (a) substantially rewritten (ergo: a new sentence should also be <b>Added</b>), or (b) the sentence no longer applies given new information that was added.
                        <br><br>
                        * <b><u>Edit a sentence</u></b> by hitting the <span style="background-color: rgba(0,160,0,0.63)">Edit</span> button. Editing a sentence means that the wording might change a little bit due to other changes happening around the sentence or events within the sentence being updated.
                        <br><br>
                        * <b><u>Leaving a sentence unchanged</u></b> means that you don't really expect the sentence to change at all in the next version of the article.
                        <br><br>
                        When you're ready to submit, please hit the <span style="background-color: rgba(0,160,0,0.63)">Submit</span> button and please check to see what the actual edits were so you can improve for next task!
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Video
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <i><b><u>NOTE: THIS SECTION IS OLD. An updated video can go here.</u></b></i>
                        <br><br>
                        Here is a video showing how to interact with our page and a demonstration of the thought process I think is appropriate for this task. However, you are professional journalists and you know better than I do!
                        <br><br>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nEF6uVoSZdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Examples
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <i><u><b>NOTE: THIS SECTION IS OLD. Updated examples links can go here if we find good ones, and I can host them on app-engine pretty easily. Or, we can just take screenshots.</b></u></i>
                        <h5>Local Crime</h5>
                        <div class="example">
                            <a target='_blank' rel='noopener noreferrer' href="https://news-edits-dot-usc-research.appspot.com/check_task?source=reuters&doc_id=2436&v_x=0&v_y=1">https://news-edits-dot-usc-research.appspot.com/check_task?source=reuters&doc_id=2436&v_x=0&v_y=1</a>
                        </div>
                        The above example is a good example of a local crime article where the phrase "...no mention of..." indicates that an upcoming draft will include deletions (of that sentence) and additions of new information.
                        <hr>
                        <!--                        -->
                        <h5>Events update:</h5>
                        <div class="example">
                            <a target='_blank' rel='noopener noreferrer' href="">https://news-edits-dot-usc-research.appspot.com/check_task?source=independent&doc_id=1587638&v_x=1&v_y=2</a>
                            <br>
                            <a target='_blank' rel='noopener noreferrer' href="">https://news-edits-dot-usc-research.appspot.com/check_task?source=nyt&doc_id=1828967&v_x=1&v_y=2</a>
                        </div>
                        In both of these articles, an event is unfolding. They are both clearly breaking news, so as more information about the main event comes in, we will update the article.
                        <hr>
                        <!--                        -->
                        <h5>More information about the main event</h5>
                        <div class="example">
                            <a target='_blank' rel='noopener noreferrer' href="">https://news-edits-dot-usc-research.appspot.com/check_task?source=nyt&doc_id=1870033&v_x=0&v_y=1</a>
                        </div>
                        The phrase "This is a developing story" is really a good clue in this example.
                        <hr>
                        <!--                        -->
                        <h5>More background:</h5>
                        <div class="example">
                            <a target='_blank' rel='noopener noreferrer' href="">https://news-edits-dot-usc-research.appspot.com/check_task?source=wp&doc_id=1115575&v_x=0&v_y=1</a>
                        </div>
                        This article needed a lot more background.
                        <hr>
                        <!--                        -->
                        <h5>More viewpoints:</h5>
                        <div class="example">
                            <a target='_blank' rel='noopener noreferrer' href="">https://news-edits-dot-usc-research.appspot.com/check_task?source=wp&doc_id=1125102&v_x=0&v_y=1</a>
                        </div>
                         This is a good example of a piece where we really need to hear from more voices, like parents, anonymous sources, etc.
                        <hr>
                        <h5>Article Rewrite</h5>
                        <div class="example">
                            <a target='_blank' rel='noopener noreferrer' href="">https://news-edits-dot-usc-research.appspot.com/check_task?source=ap&doc_id=220&v_x=2&v_y=3</a>
                        </div>
                        Good example of when the old article wasn't really written in a newsy style and needed to be updated.
                        <hr>
                        <!--                        -->
                        <h5>Many Edits</h5>
                        <div class="example">
                            <a target='_blank' rel='noopener noreferrer' href="">https://news-edits-dot-usc-research.appspot.com/check_task?source=bbc&doc_id=1248390&v_x=1&v_y=2</a>
                        </div>
                        This article is really dense. There are a lot of time-dependent numbers here, so it's likely that a lot of them will be updated. Also, an additional viewpoint is added.
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="todoHeader">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#toDo" aria-expanded="false" aria-controls="collapseThree">
                      TO-DO Before Launch
                    </button>
                  </h5>
                </div>
                <div id="toDo" class="collapse" aria-labelledby="todoHeader" data-parent="#accordion">
                    <div class="card-body">
                        We have the following items on our to-do list for the interface before we launch it:
                        <br>
                        <br>
                        <ul>
                            <li>Task Semantics:
                                <ul>
                                    <li>Finalize schema with appropriate addition/deletion/edit sub-schemas</li>
                                    <li>Write instructions</li>
                                </ul>
                            </li>
                            <li>Annotation: Annotate a subset of documents ourselves, in order to:
                                <ul>
                                    <li>Collect good challenging/interesting/pedagogical examples for the instructions.</li>
                                    <li>Collect a gold dataset with which to recruit workers.</li>
                                </ul>
                            </li>
                            <li>Visual/Technical Interface Upgrades:
                                <ul>
                                    <li>Put labels for edit-dropdown on the bezier-curves </li>
                                    <li>Put an additional textfield or dropdown in each addition/deletion box so that the user can note if the addition/deletion corresponds to an update.</li>
                                    <li>Put an additional "+" sign by each dropdown so that we can allow users to add >1 intention per edit.</li>
                                    <li>Make the entire layout response to size-changes for dropdowns results from the previous two changes.</li>
                                    <li>Make sure we're collecting all the data on submission, test on Amazon.</li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
              </div>
            </div>
            </div>
        </div>


<style>
    svg {
      position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    circle {
        {#z-index: 2;#}
    }
    .labelblock {
        z-index: 3;
    }

    .textblock_pool_version_x{
        padding-right: 0;
    }

    .textblock_pool_version_y{
        padding-left: 0;
    }
    .blank_column{
        padding-left: 0;
        padding-right: 0;
    }

    .textblockwrapper{
        padding: 0;
    }
    .labelblockwrapper{
        padding: 0;
    }

    #main-svg{
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .link {
        fill: none;
        stroke: black;
    }

</style>
{% if do_mturk %}
    <form name='mturk_form' method='post' id='mturk_form' action='/mturk/externalSubmit'>
{% endif %}
<input type='hidden' value='' name='assignmentId' id='assignmentId'/>
    <div class="container-fluid">
    <p>Article Key: {{ doc_id }}</p>
    <br>
    <div class="row header">
        <div class="col-3"></div>
        <div class="col-2"><h4>Old Version</h4></div>
        <div class="col-2"></div>
        <div class="col-2"><h4>New Version</h4></div>
        <div class="col-3"></div>
    </div>
    <svg id="main-svg">
        <div class="row text" id="main-div">
            <div class="col-5 textblock_pool_version_x" doc_id="{{ doc_id }}" ></div>
            <div class="col-2 blank_column"></div>
            <div class="col-5 textblock_pool_version_y" doc_id="{{ doc_id }}" ></div>
        </div>
    </svg>
</div>

<button type="submit" id='submitButton' value='Submit'>Submit form</button>
</form>

<script language='Javascript'>

    var edit_select_html =`
        <select class="edit-intention form-select">
            <option value="" selected disabled></option>
            <option value="" disabled>Clarification</option>
            <option value="">&#160;&#160;&#160;Simplification</option>
            <option value="">&#160;&#160;&#160;Define term</option>
            <option value="" disabled>Copy Editing</option>
            <option value="">&#160;&#160;&#160;Style Changes</option>
            <option value="">&#160;&#160;&#160;Syntax Correction</option>
            <option value="" disabled>Elaboration</option>
            <option value="">&#160;&#160;&#160;Background</option>
            <option value="">&#160;&#160;&#160;Analysis</option>
            <option value="" disabled>Fact Update</option>
            <option value="">&#160;&#160;&#160;Event Update</option>
            <option value="">&#160;&#160;&#160;Quote Update</option>
            <option value="">&#160;&#160;&#160;Document Update</option>
            <option value="" disabled>Verification</option>
            <option value="">&#160;&#160;&#160;Correction</option>
            <option value="">&#160;&#160;&#160;Additional Sourcing</option>
        </select>
    `

    // page handling
    class PageManager {
        constructor(
            data,
            textblock_dim,
            demo,
            check,
            doc_key,
            textblock_pool_min
        ) {
            this.data = data
            this.demo = demo
            this.check = check
            this.doc_key = doc_key
            // dimensions for textblock divs
            this.textblock_pool_min = textblock_pool_min
            this.textblock_dim = textblock_dim;
            this.start_line_id = null
            // z-index for dropdown needs to increase every click :/ maybe not the best implementation
            this.curr_dropdown_zindex = 3
            this.num_lines = 0


            // endpoint side-length
            this.l = '10px'
            var that = this
            this.link = d3.linkHorizontal()
                .source(function(d) {
                    var node = $('#sentence-x-' + d.source).find('circle')
                    return that._get_offset_to_svg_circle(node)
                })
                .target(function(d) {
                    var node = $('#sentence-y-' + d.target).find('circle')
                    return that._get_offset_to_svg_circle(node)
                });
        }

        _process_data(){
            var that = this

            that.versions = this.data['nodes'].map(function(d){return d['version']})
            that.x_vers = d3.min(that.versions)
            that.y_vers = d3.max(that.versions)
            that.version_mapper = {[that.x_vers]: 'x', [that.y_vers] : 'y'}

            that.node_edit_action_dict = {'x': {}, 'y': {}}
            that.data_by_version = {'x': [], 'y': []}
            that.node_to_arc_dict = {'x': {}, 'y': {}} // map each node to a list of arcs
            that.arc_to_node_dict = {} // map each arc to the nodes on either side of it

            var add_del_redundancy = {'x': [], 'y': [] } // not all arcs are marked.

            // create textblocks
            $(that.data.nodes)
                .sort(function(a, b) {return a.sent_idx - b.sent_idx})
                .each(function (i, d) {
                    var vers = that.version_mapper[d.version]
                    that.data_by_version[vers].push(d)
                    that.node_edit_action_dict[vers][d.sent_idx] = {'action': 'unchanged'}
                    add_del_redundancy[vers].push(d.sent_idx)
                })

            // find which nodes have been edited. Those that haven't are either added/deleted based on version.
            that.data.arcs
                .forEach( function(d){
                    // edited nodes
                    if((d.sent_idx_x != null) & (d.sent_idx_y != null)) {
                        var line_selector = 'line-' + that.num_lines++
                        that.node_edit_action_dict['x'][d.sent_idx_x] = {'action': 'edited', 'other': d.sent_idx_y}
                        that.node_edit_action_dict['y'][d.sent_idx_y] = {'action': 'edited', 'other': d.sent_idx_x}
                        // update node data
                        // that.data.nodes.filter(e=> (e.sent_idx == d.sent_idx_x) & (e.version == that.x_vers))[0]
                        that.node_to_arc_dict['x'][d.sent_idx_x] = (that.node_to_arc_dict['x'][d.sent_idx_x] || []).concat(line_selector)
                        that.node_to_arc_dict['y'][d.sent_idx_y] = (that.node_to_arc_dict['y'][d.sent_idx_y] || []).concat(line_selector)
                        that.arc_to_node_dict[line_selector] = {'x': d.sent_idx_x, 'y': d.sent_idx_y}

                        add_del_redundancy['x'].remove_by_value(d.sent_idx_x)
                        add_del_redundancy['y'].remove_by_value(d.sent_idx_y)
                    }
                })

            // deleted nodes
            add_del_redundancy['x'].forEach(function(d){
                that.node_edit_action_dict['x'][d] = {'action': 'deleted'}
            })

            // added nodes
            add_del_redundancy['y'].forEach(function(d){
                that.node_edit_action_dict['y'][d] = {'action': 'added'}
            })
        }

        _make_rows(version){
            var that = this
            return d3.select('.textblock_pool_version_' + version)
                    .selectAll('textblock')
                    .data(that.data_by_version[version]).enter()
                    .append('div').classed('row', true)
        }

        _draw_textblocks(rows_obj, version){
            function _helper_get_textblock_html(d, that){
                var this_vers = that.version_mapper[d.version]
                var action = that.node_edit_action_dict[this_vers][d.sent_idx].action
                if (action != 'edited') {
                    return d.sentence
                } else {
                    var other_vers = this_vers == 'x' ? 'y' : 'x'
                    var arcs = that.node_to_arc_dict[this_vers][d.sent_idx]
                    var all_incoming_text = arcs
                        .map(d => that.arc_to_node_dict[d][other_vers]).sort() // connecting textblocks on other side
                        .map(d => that.data_by_version[other_vers][d].sentence)

                    if (other_vers == 'y') {
                        return html_compare_sentences(d.sentence, all_incoming_text.join(' '))[0]
                    } else {
                        return html_compare_sentences(all_incoming_text.join(' '), d.sentence)[1]
                    }
                }
            }

            var that = this

            return rows_obj
                    .append('div').classed('textblockwrapper', true).classed('col-6', true) // so that the margin goes on the inside
                    .append('div').classed('textblock', true)
                    .attr('doc_id', that.doc_key)
                    .attr('id', d => 'sentence-' + version + '-' + d.sent_idx)
                    .attr('version', d => that.version_mapper[d.version])
                    .attr('class', function(d){
                        return $(this).attr('class') + " " + that.node_edit_action_dict[version][d.sent_idx].action
                    })
                    .attr('orig-text', d => d.sentence)
                    .append('span').classed('textblock_span', true)
                    //.text(d => d.sentence)
                    .html(d=>_helper_get_textblock_html(d, that))
        }

        _draw_labelblocks(rows_obj, version){
            var that = this
            function _helper_get_labelblock_html(d, that){
                var this_vers = that.version_mapper[d.version]
                var action = that.node_edit_action_dict[this_vers][d.sent_idx].action
                switch(action){
                    case 'added': var header = 'Addition Intention'; break;
                    case 'edited': var header = 'Edit Intention'; break;
                    case 'deleted': var header = 'Deletion Intention'; break;
                }
                return '<p>' + header + '</p>'
            }
            function _is_hidden(d){
                var vers = that.version_mapper[d.version]
                var datum = that.node_edit_action_dict[vers][d.sent_idx]
                if ((datum.action == undefined) | (datum.action == 'unchanged'))
                    return true
                else
                    return ((vers == 'y') & (datum.action == 'edited'))
            }

            var labelblock_obj = rows_obj.append('div').classed('labelblockwrapper', true).classed('col-6', true)
                    .append('div').classed('labelblock', true).classed('row', true)
                    .classed('hidden', _is_hidden)
                    .attr('doc_id', that.doc_key)
                    .attr('num_slots', 1).attr('version', version)
                    .attr('id', d => 'label-' + version + '-' + d.sent_idx)
                    .html(d => _helper_get_labelblock_html(d, that))

                labelblock_obj.append('div').classed('dropdown_column', true).classed('col-8', true)
                    .append('div').classed('input_fields', true).classed('slot_num_1', true).attr('slot_num', 1)
                    .html(edit_select_html)

            var button_obj = labelblock_obj.append('div')
                                            .classed('button_column', true).classed('col-4', true)
                button_obj.append('div').classed('btn', true).classed('btn-secondary', true)
                                        .style('width', '50%').html('+')
                                        .classed('labelblock_' + version + '_button_plus', true)
                button_obj.append('div').classed('btn', true).classed('btn-secondary', true)
                                        .style('width', '50%').html('-')
                                        .classed('labelblock_' + version + '_button_minus', true)

            $('.labelblock_' + version + '_button_plus').on('click', function(){
                var existing_slots = $(this).parents('.labelblock').attr('num_slots')
                var slot_num = parseInt(existing_slots) + 1
                $(this).parents('.labelblock').attr('num_slots', slot_num)
                var col = $(this).parents('.labelblock').find('.dropdown_column')
                $('<div>' + edit_select_html + '</div>').appendTo(col)
                    .addClass('slot_num_' + slot_num).addClass('input_fields')
                    .attr('slot_num', slot_num)
            })

            $('.labelblock_' + version + '_button_minus').on('click', function(){
                var existing_slots = $(this).parents('.labelblock').attr('num_slots')
                if (existing_slots > 1) {
                    var slot_num = parseInt(existing_slots) - 1
                    $(this).parents('.labelblock').find('.slot_num_' + existing_slots).remove()
                    $(this).parents('.labelblock').attr('num_slots', slot_num)
                }
            })


        }

        draw_canvas(){
            this._process_data()

            // create textblock rows ( x => label pool, textblock pool)
            var rows_x = this._make_rows('x')
            this._draw_labelblocks(rows_x, 'x')
            this._draw_textblocks(rows_x, 'x')
            // create textblock rows ( y => textblock pool, label pool)
            var rows_y = this._make_rows('y')
            this._draw_textblocks(rows_y, 'y')
            this._draw_labelblocks(rows_y, 'y')

            // draw connections
            this._draw_all_connections()
        }

        _add_endpoint(textblock_id, side){
            var side_class = side == 'x' ? 'start-100' : 'start-0'
            d3.select('#' + textblock_id)
                .classed('position-relative', true)
            .append('div').style('width', this.l).style('height', this.l)
                .classed('anchor', true)
                .classed('position-absolute', true)
                .classed('top-50', true)
                .classed(side_class, true)
                .classed('translate-middle', true)
            .append('svg').style('height', '100%').style('width', '100%')
                .append('circle')
                .attr('r', '50%')
                .attr('cx', '50%').attr('cy', '50%').style('fill', 'gray')
        }

        _get_offset_to_svg_circle(d){
            var svg_off_l = $('#main-svg').offset().left,
                svg_off_t = $('#main-svg').offset().top,
                el_off_l = $(d).offset().left,
                el_off_t = $(d).offset().top,
                el_r = parseFloat(this.l.replace('px', '')) / 2
            return [el_off_l - svg_off_l + el_r, el_off_t - svg_off_t + el_r]
        }

        _draw_all_connections(){
            var that = this
            $('#main-svg').height($('#main-div').height())
            var data = Object.entries(pm.arc_to_node_dict)
                .map(function(d){return {'line': d[0], 'source': d[1].x, 'target': d[1].y}})

            // add endpoints
            data.forEach(function(d){
                that._add_endpoint('sentence-x-' + d.source, 'x')
                that._add_endpoint('sentence-y-' + d.target, 'y')
            })

            // add connections
            d3.select('#main-svg')
                .selectAll('path')
                .data(data).enter().append('path')
                .attr('d', that.link)
                .classed('link', true) // .classed('connection', true) // one is for CSS properties, the other is for
                .attr('id', d=>d.line)

        }

        _post_drawing_page(){
            function _update_connection_position(that){
                $('#main-svg').height($('#main-div').height())
                d3.selectAll('.link').attr('d', that.link)
            }

            // handle mouseovers
            const this_pagemanager = this
            $('.textblock, .labelblock')
                .on('mouseover', function(){
                    var this_block = this
                    var block_num = this.id.split('-')[2]
                    $(this_block).parent().parent().find('.textblock,.labelblock').addClass('shaded')

                    // update all the nodes on the other side as this node.
                    var version = $(this_block).attr('version')
                    var version_swap = {'x':'y', 'y':'x'}
                    var other_version = version_swap[version]
                    var node_arcs = this_pagemanager.node_to_arc_dict[version][block_num] || []
                    node_arcs.forEach(function(d){
                        // shade the arc itself
                        $('#' + d).addClass('shaded')
                        // get other textblock and the html that it should update to.
                        var other_sel = this_pagemanager.arc_to_node_dict[d][other_version]
                        // shade the other textblock that the arc connects
                        $('#sentence-' + other_version + '-' + other_sel).addClass('shaded')
                        $('#label-' + other_version + '-' + other_sel).addClass('shaded')
                    })
                })
                .on('mouseout', function(d) {
                    $('.link').removeClass('shaded')
                    $('.textblock').removeClass('shaded')
                    $('.labelblock').removeClass('shaded')
                })

            // handle movements
            $(window).on('load resize', function() { _update_connection_position(this_pagemanager) })
            $('.btn').on('click', function() { _update_connection_position(this_pagemanager) })
        }
    }

    textblock_dims = {
		'margin': 5,
		'border': 2,
		'padding': 10
	}

	textblock_pool_min_height = 200

    var data = JSON.parse('{{ data | tojson | safe }}'.replaceAll('NaN', 'null'))
    pm = new PageManager(data, textblock_dims, false, false, "{{ doc_id }}", textblock_pool_min_height)
    pm.draw_canvas()
    pm._post_drawing_page()


    //
    // mturk
    // handle data
    class SubmitHandler{
        constructor() {
            {% if do_mturk %}
                turkSetAssignmentID();
            {% endif %}
            this.GENERIC_THANKS_MESSAGE = 'Thank you so much for your help with our task!'
        }

        get_data_from_dom() {
            this.output = []
            var that = this
            var ids = $('.labelblock').map(function(i, d){return $(d).attr('id')})
            var versions = $(ids).map(function(i, d){return d.split('-')[1]})
            var sent_idxs = $(ids).map(function(i, d){return d.split('-')[2]})
            var is_hidden = $('.labelblock').map(function(i, d){return $(d).hasClass('hidden')})

            //
            $('.labelblock').each(function(i, label_block){
                var labels = $(label_block).find('.input_fields').map(function(i, d){
                    return {
                        'label': $(d).find(":selected").text(),
                        'intention_num': $(d).attr('slot_num')
                    }
                })

                var datum = {}
                datum['version'] = versions[i]
                datum['sent_idx'] = sent_idxs[i]
                var action = pm.node_edit_action_dict[versions[i]][sent_idxs[i]]
                if (action.action == 'edited'){
                    datum['action'] = 'edited'
                    datum['other_version_sent_idx'] = action.other
                } else {
                    datum['action'] = action.action
                }
                datum['is_hidden'] = is_hidden[i]
                datum['labels'] = labels.toArray()
                that.output.push(datum)
            })
        }

        gather_and_submit_data(submit_button, submit_click_event) {
            this.submit_button = submit_button
            this.submit_click_event = submit_click_event
            this.get_data_from_dom()
            this.first_confirm() // -> second_confirm -> third_confirm -> submit_data
        }

        first_confirm(){
            var that = this
            // First question
            var non_hidden_data = that.output.filter(function(d, i){ return d['is_hidden'] == false })
            var uncompleted = non_hidden_data.flatMap(function(d){return d.labels.map(function(d){return d.label})})
            if (d3.sum(uncompleted) > 0){
                alert('You have at least one unfilled intention-box. Please check and resubmit!!')
            } else {
                that.second_confirm()
            }
        }

        second_confirm(){
            var that = this
            setTimeout(function() {
                alertify.confirm(
                    "Great! Your submission is valid. Do you want to recheck your answers?"
                ).set('header', '<em>Looks good! Ready to Submit?</em>')
                    .set('labels', {
                        ok: "Continue, submit!",
                        cancel: "Let me recheck..."
                    })
                    .set('onok', function () {
                        alertify.success('Ok! Submitting...')
                        alertify.success(that.GENERIC_THANKS_MESSAGE)
                        that.submit_data()
                    })
                    .set('oncancel', function () {
                        alertify.error('Thanks for being diligent! Please recheck and resubmit!')
                    })
            }, 700)
        }
        submit_data(){
            {% if do_mturk %}
            // submit mturk
            $('#data').attr('value', JSON.stringify(this.output))
            $(this.submit_button).trigger(this.submit_click_event.type);
            {% else %}
            // submit AJAX
            var to_submit = {'data': this.output}
            to_submit['start_time'] = "{{ start_time }}"
            to_submit['doc_id'] = "{{ doc_id | safe }}"
            $.ajax({
                url: "/post_task",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(to_submit),
                success: function (result) {
                    if (result === "success") location.href = "/check_task"
                }
            })
            {% endif %}
        }
    }

    // submit button click
    var clicked=false
    $('#submitButton').on('click', function(submit_click_event){
        var sh = new SubmitHandler()
        var submit_button = this
        submit_click_event.preventDefault();
        sh.gather_and_submit_data(submit_button, submit_click_event);
    })

</script>
</body>
</html>
<!-- YOUR HTML ENDS -->

{% if do_mturk %}
]]>
</HTMLContent>
<FrameHeight>600</FrameHeight>
</HTMLQuestion>
{% endif %}






{##}
{#            this.data_by_version = d3.nest()#}
{#                .key(d=>that.version_mapper[d.version])#}
{#                .entries(that.data.nodes)#}
{#                .map(d=>[d.key, d.values])#}
{##}
{#            this.add_del_redundancy = Object.fromEntries(#}
{#                this.data_by_version#}
{#                    .map(d=>[d[0], d[1].map(d=>d.sent_idx).sort()])#}
{#            )#}
{##}
{#            this.node_edit_action_dict = Object.fromEntries(#}
{#                this.data_by_version#}
{#                    .map(d=>[d[0], Object.fromEntries(d[1].map(d=>[d.sent_idx, "unchanged"]))])#}
{#            )#}
{##}
{#            this.data_by_version = Object.fromEntries(this.data_by_version)#}
{##}
{#            this.rows = d3.nest()#}
{#                .key(d=>d['sent_idx'])#}
{#                .entries(that.data.nodes)#}
{#                .map(d=>d.values.sort(function(a, b){return  b.version - a.version}))#}
